<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue Js Tutorial-08</title>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<style>
		ul{
			list-style: none;
			text-transform: capitalize;
			font-size: 18px;
			font-family: cursive;
		}
	</style>
</head>
<body>
	
	<div class="container">
		<div id="root">
			<h1>All Payments</h1><hr>
			<ul>
				<li v-for="(payment, i) in payments">
					{{ i+1 }}. {{ payment.name }} = {{ payment.amount }}
				</li>
			</ul>
			<h1>Unpaid Payments</h1><hr>
			<ul>
				<li v-for="(payment, i) in unpaidPayments">
					{{ i+1 }}. {{ payment.name }} = {{ payment.amount }}
				</li>
			</ul>
			<h1>Total Payments: {{ totalPayments }}</h1>
		</div>
	</div>

	<script src="vue.js"></script>
	<script>
		var payments = [
			{ name: 'houserent', amount: 4000, paid: true },
			{ name: 'gas', amount: 800, paid: false },
			{ name: 'electricity', amount: 200, paid: true },
			{ name: 'water', amount: 600, paid: false },
			{ name: 'net', amount: 500, paid: true },
		];
		var app = new Vue({
			el: '#root',
			data: {
				payments,
			},
			computed: {
				unpaidPayments(){
					return this.payments.filter(function(payment){
						return !payment.paid;
					});
				},
				totalPayments(){
					var sum = 0;
					for(var i=0; i<this.payments.length; i++){
						sum += this.payments[i].amount;
					}
					return sum;
				},
			},
		});
	</script>
</body>
</html>